<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actores británicos</title>
    <link href="../static/css/series.css" rel="stylesheet" type="text/css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body class="g">
<div class="out">
    <div class="btn-group">
        {% if session['admin'] == True %}
        <a href="/users/" class="btn btn-link">Gestión de usuarios</a>
        {% endif %}
        <a href="/perfil/{{ session['usuario'] }}" class="btn btn-link">Mi perfil</a>
        <a href="{{ url_for('logout') }}" class="btn btn-link">Cerrar sesión</a>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('actores')}}">Actores</a></li>
    </ol>
</nav>
<h1 class="h"><img class="i" src="../static/img/tf.png">Actores británicos<img class="i" src="../static/img/tf.png">
</h1>
<br>
<h4 class="j"><a href="{{ url_for('insert_actor') }}">Añadir actor</a></h4>
<br>
<h4 class="j"><a href="{{ url_for('insert_serieactor') }}">Añadir combinación de actor con serie</a></h4>
<br>
<br>
{% for actor in datos %}
<div class="tabla">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" colspan="3" id="{{actor.codac}}">{{actor.nombre}}
                {{actor.apellido}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Edad</th>
            <td>{{actor.edad}}</td>
            <td rowspan="3"><img src="{{actor.img_url}}" alt="Imagen de {{actor.nombre}} {{actor.apellido}}"/></td>
        </tr>
        <tr>
            <th scope="row">Lugar de nacimiento</th>
            <td>{{actor.ciudad_nacimiento}}, {{actor.pais_nacimiento}}</td>
        </tr>
        <tr>
            <th scope="row">Filmografía</th>
            <td>
                <ul class="u">
                    {% for serieactor in datos2 %}
                    {% if serieactor.codac == actor.codac %}
                    <li><a href="{{url_for('series')}}/{{serieactor.codser}}">{{serieactor.s_nombre}}</a> <a
                            href="/eliminar_serieactor/{{serieactor.codser}}/{{serieactor.codac}}"
                            onclick="return confirm('¿Está seguro/a de que desea eliminar esta serie de este actor?')"
                            class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/actores/{{ actor.codac }}/eliminar" class="btn btn-outline-dark"
       onclick="return confirm('¿Está seguro/a de que desea eliminar este actor?')">Eliminar</a>
    <a href="/actores/{{ actor.codac }}/modificar" class="btn btn-outline-dark">Modificar</a>
</div>
<br>
<br>
<br>
{% endfor %}
</body>
</html>