<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cambiar contraseña</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/login.css" rel="stylesheet" type="text/css">


</head>
<body>
<div class="general">
    <form action="/changepass/admin" method="POST">
        <br>
        <br>
        <br>
        <br>
        <div class="mb-3">
            <label for="password" class="form-label"> Nueva contraseña</label> <br>
            <input type="password" class="form-control" id="password" name="password" required> <br>
        </div>
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </form>
</div>

</body>
</html>