<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de registro</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/register.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="general">
    <div class="out">
        <div class="btn-group">
            <a href="/perfil/{{ session['usuario'] }}" class="btn btn-link">Mi perfil</a>
            <a href="{{ url_for('logout') }}" class="btn btn-link">Cerrar sesión</a>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{{url_for('users')}}">Gestión de usuarios</a></li>
        </ol>
    </nav>
    <h1 class="h">Formulario de registro</h1>
    <br>
    <form action="/users/insert_user" method="POST">

        <label for="usuario">Nombre de usuario</label> <br>
        <input type="text" id="usuario" name="usuario" required> <br>
        <br>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label> <br>
            <input type="password" class="form-control" id="password" name="password" required> <br>
        </div>

        <label for="nombre">Nombre</label> <br>
        <input type="text" id="nombre" name="nombre"> <br>
        <br>

        <label for="apellido">Apellido</label> <br>
        <input type="text" id="apellido" name="apellido"><br>
        <br>

        <label for="edad">Edad</label><br>
        <input type="text" id="edad" name="edad"><br>
        <br>

        <label for="telefono">Teléfono</label><br>
        <input type="text" id="telefono" name="telefono"><br>
        <br>

        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        <br>

        <label for="rol">Rol</label><br>
        <select id="rol" name="rol">
            <option value="estandar">estándar</option>
            <option value="admin">admin</option>
        </select> <br>
        <br>

        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        <br>
    </form>
</div>
</body>
</html>